footer{
    background: transparent;
    width: 100%;
    position: fixed;
  bottom: 0; 
    
   
    
    color: #444;
    margin: 0 auto;
    text-align: center;
    
  }
  
.footer p {
    margin: 0px;
    padding: 0px;
  }